body{
    font-family: Verdana, sans-serif;   
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
span{
   
    margin-right: 5px;
}

h1,h2,h3,h4{
    font-weight: normal;
}

nav{
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    align-items: center;
}

nav > ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}
nav > ul> li {
    background-color: #c7b198;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
}
.hamburger{
    cursor: pointer;
}
.hamburger-line{
    width: 35px;
  height: 5px;
  background-color: #7f7f7f;
  margin: 6px 0;
}
#nav{
    display: none;
}

.show-nav{
    margin-left: 120px;
    display: grid;
}
.show-nav > a {
    text-decoration: none;
    color: inherit;
    padding: 20px;
}
.show-nav > a:hover{
    background-color: #c7b198;
}
.jumbotron{
   
    background-color: #cccc;
    text-align: center;
    padding-top: 270px;
    padding-bottom: 270px;
}
.jumbotron > h1 , p{
    margin: 10px;
}
.global-btn{
    padding: 10px;
    height: 50px;
    width: 212px;
    background-color: #c7b199;
    color: white;
    border: none;
}
.explore-btn{
    padding: 10px;
    height: 50px;
    width: 212px;
    background-color: white;
    border: none;
}
.fold-2{
    background-image: url('images/bg.png');
    padding-top: 270px;
    padding-bottom: 270px;
    padding-left: 95px;
    background-repeat: no-repeat;
    background-size: auto;
 
  
}

/* #overlay{
    position: absolute;
  width: 50%;
  height: 632px;
  z-index: 0;
  background-color: rgba(199, 177, 153, 0.6);
} */
.row-1 , .row-2 , .row-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-content{
    margin-left: 15%;
}
.right-content{
    margin-right: 15%;
}

.service{
    text-align: center;
}
.service-icon{
    width: 115px;
    height: auto;
    background-color: #e9a3a6;
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
}

.testimonial{
    background-image: url('images/asphalt-1867667_1920.png');
    height: 700px;
    background-size: cover;
    text-align: center;
}

/* --------------------------------Carousel styling css----------------------------------- */

.container {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.carousel {
  width: 100%;
  display: flex;
  transition: all 0.5s;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  flex-shrink: 0;
  width: 100%;
  
}
.test-card{
    padding: 50px;
}

.carousel-item {
    margin: 10px;
  width: 100%;
}

.navigation {

  width: 100%;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

label {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  background-color: white;
  transition: all 0.3s;
  border-radius: 50%;
  opacity: 0.4;
}

label:hover {
  transform: scale(2);
  opacity: 1;
}

input[id="1"]:checked ~ label[for="1"] {
  opacity: 1;
}

input[id="2"]:checked ~ label[for="2"] {
  opacity: 1;
}

input[id="3"]:checked ~ label[for="3"] {
  opacity: 1;
}


/* --------------------------------Carousel styling css end----------------------------------- */

.events-container{
    margin-left: 203px;
}
.event-row{
    display: flex;
}
.thumbnail{
    margin: 20px;
}
.thumbnail-content{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.thumbnail-content > p{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blog-row{
    display: flex;
    justify-content: center;
}
.recent-blog{
    text-align: center;
    background-color: #f8f9fb;
    padding: 50px;
}
.feature-blog{
    margin: 30px;
}
.date{
    background-color: #ebe2d9;
    padding: 25px;
    height: 200px;
    color: #b69874;
}
.card-content{
    display: flex;
    margin: auto;
    margin-top: -4px;
        width: 22rem;
    justify-content: space-between;
}
.card-title{
    padding-top: 25px;
    padding-left: 25px;
    text-align: left;
    background: white;
}

footer{
    text-align: center;
    background: black;
    color: white;
}

footer > h1{
    padding:50px
}

.input-container{
    display: flex;
    justify-content: center;
    padding: 30px;
}
#input{
    width: 250px;
    height: 50px;
}
.subscribe-btn{
    padding: 10px;
    height: 50px;
    width: 139px;
    background-color: #b59877;
    color: white;
    border: none;
}
#input::placeholder{
    color: black;
    padding-left: 10px;
}
.footer-link{
    
    text-decoration: none;
    color: inherit;
}




@media screen and (max-width: 950px) {
    .left-content{
    margin-left: 5%;
}
    .right-content{
    margin-right: 5%;
}
    .blog-row{
        display: grid;
    }
    .events-container{
    margin-left: 0px;
}

}


@media screen and (max-width: 750px) {

    nav{
        justify-content: space-between;
    }
    nav > ul{
        display: none;
    }
    .service-icon{
        display: none;
    }
    .event-row{
        display:grid;
    }
}